.container{
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    margin-top: 30px;
}


h2{
    font-size: 40px;
}

h3{
    font-size: 50px;
}

.op-selection{
    margin-top: 10px;
}

.op-btn{
    margin: 0 10px;
}

.checked{
    background-color: rgb(98, 98, 255);
}